# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
nativehost/build
Loader/obj
Loader/bin
TestPlugin/obj
TestPlugin/bin

bin/Debug/*
!bin/Debug/Loader.runtimeconfig.json